$information-phone: "only screen and (max-width : 320px)";
$information-largephone: "only screen and (max-width : 512px)";
$information-tablet: "only screen and (max-width : 768px)";
.home{
  .title{
    position: relative;
    h1{
      text-align: center;
    }
    .switch-edit-mode{
      position: absolute;
      top: -3px;
      cursor: pointer;
      left: 47%;
      background: rgba(255, 255, 255, 0.88);
      padding: 11px 50px;
      border-radius: 10px;
      border: 1px solid #cbcbcb;
      display: none;
    }
    &:hover{
      .switch-edit-mode{
        display: block;
      }
    }
  }
  .error{
    background-color: rgb(251, 5, 5);
    color: #fff;
  }
  .success{

  }
  .inner-wrapper{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 7px;
    .center-column{
      .lessons-grid{
        margin: 15px 0;
        text-align: center;
        padding: 0 0 5px;
        .week-grid{
          min-width: 48%;
          float: left;
          /*display: inline-block;*/
          min-height: 460px;
          background-color: white;
          margin: 5px 5px 0;
          border: 1px solid #ccc;
          border-radius: 5px;
          box-shadow: 0 0 7px;
          padding: 10px;
          position: relative;

          @media screen and (min-width : 320px){
            min-width: 98%;
            min-height: 280px;
          }
          @media screen and (min-width : 768px){
            min-width: 48%;
            min-height: 460px;
          }
          .week-title{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 10px;
          }
          .lesson-row{
            border: 1px solid #8c8c8c;
            margin-bottom: 10px;
            min-height: 52px;
            border-radius: 5px;
            position: relative;
            .lesson-number,
            .lesson-time,
            .lesson-data,
            .lesson-room{
              float: left;
              padding: 5px;
              font-weight: bold;
            }
            .lesson-number{
              max-width: 20px;
              padding-top: 14px;
              input{
                max-width: 13px;
                border: 0px;
              }
            }
            .lesson-time{
              max-width: 50px;
              border-left: 1px solid #cbcbcb;
            }
            .lesson-data {
              min-width: 128px;
              border-left: 1px solid #cbcbcb;
              border-right: 1px solid #cbcbcb;
              @media screen and (min-width : 320px){
                min-width: 100px;
              }
              @media screen and (min-width : 768px){
                min-width: 120px;
              }
            }
            .lesson-room {
              min-width: 50px;
              padding-top: 14px;

              float: left;
            }
            .edit-lesson {
              background-color: rgba(255,255,255,0.8);
              padding: 10px 5px;
              border-radius: 5px;
              min-width: 100%;
              min-height: 48px;
              display: none;
              .edit,.remove,.save{
                cursor: pointer;
              }
              .edit{
                &:hover{
                  color:orange;
                }
              }
              .remove{
                &:hover{
                  color:red;
                }
              }
              .save{
                &:hover{
                  color:green;
                }
              }
            }
          }
          .lesson-row.edit{
            .edit-lesson {
              display: block;
            }
          }
          .new-lessons-row{
            position: absolute;
            left: 31%;
            .add-new-lessons-btn{
              &:hover{
                .add{
                  color:green;
                }
              }

            }
          }

        }
      }
    }
    .right-column{
      .search-group{
        margin-top: 15px;
        .search-field{
          padding: 5px;
          border: 1px solid #cbc;
          border-radius: 5px;
          box-shadow: 0px 0px 4px;
          position: relative;
          .form-control{
            box-shadow: inset 0px 0px 3px rgba(51, 51, 51, 0.78);
            background-color: rgba(210, 210, 210, 0.61);
            padding: 6px 25px 6px 12px;

          }
          .search-icon{
            position: absolute;
            right: 13px;
            top: 15px;
            color: #777;
          }
        }
      }
      .group-grid{
        margin: 7px 0;
        text-align: center;
        padding: 5px 15px;
        max-height: 500px;
        overflow-y: auto;
        border: 1px solid #cbcbcb;
        border-radius: 5px;
        box-shadow: inset 0px 0px 5px #000;
        background-color: #4bdfee;
        .group-row{
          border: 1px solid #cbcbcb;
          border-radius: 5px;
          padding: 10px;
          box-shadow: 1px 1px 1px,2px 2px 2px;
          background-color: #fff;
          margin: -1px 0 6px -1px;
          &:hover{
            cursor: pointer;
            box-shadow: 1px 1px 1px,0px 0px 2px;
            color: #4bdfee;
            margin: 0px 0 5px 0px;
          }
        }
        .group-row.active{
          cursor: pointer;
          box-shadow: 1px 1px 1px,0px 0px 2px;
          color: #4bdfee;
          margin: 0px 0 5px 0px;
        }
        @media screen and (min-width : 320px){
          max-height: 200px;
        }
        @media screen and (min-width : 768px){
          max-height: 500px;
        }
      }
      @media print {
        display: none;
      }
    }
  }
}